In [7]:
row = int(input())
col = int(input())

matrix = []

# input matrix
for i in range(row):
    matrix.append(list(map(int, input().split())))

# transpose print
for j in range(col):
    for i in range(row):
        print(matrix[i][j], end=" ")
    print()

 2
 3
 1 2 3
 4 5 6

1 4
2 5
3 6

In [18]:
r = int(input())
c = int(input())

matrix = []

for i in range(r):
    matrix.append(list(map(int,input().split())))

for i in range(c):
    for j in range(r):
        print(matrix[j][i], end = ' ')
    print()

 2
 3
 1 2 3
 4 5 6

1 4
2 5
3 6

In [21]:
s = input().strip()

char_set = set()
left = 0
max_length = 0

for i in range(len(s)):
    if s[i] in char_set:
        char_set.remove(s[left])
        left += 1

    char_set.add(s[i])
    max_length = max(max_length , i-left+1)

print(max_length)

 abcabcbb

3

In [7]:
for x in range(1,11):
    print(x,end = ' ')
else:
    print()
    print('hi')

1 2 3 4 5 6 7 8 9 10
hi

In [11]:
_dict = {'name' : 'Mohit',
          'age' : 22
        }
print(_dict.keys())
print(_dict.values())
print(_dict.items())

dict_keys(['name', 'age'])
dict_values(['Mohit', 22])
dict_items([('name', 'Mohit'), ('age', 22)])

In [13]:
for key, value in _dict.items():
    print((key,value))

('name', 'Mohit')
('age', 22)

In [15]:
fruit = ['apple','bnana','cherry']
list(enumerate(fruit))

[(0, 'apple'), (1, 'bnana'), (2, 'cherry')]

In [16]:
for index, value in enumerate(fruit):
    print(index, value)

0 apple
1 bnana
2 cherry

In [19]:
_list = [1,2,3,4,10,1221,3,4]
max_list = _list[0]
[max_list := i if i>max_list else max_list for i in _list]
print(max_list)

1221

In [26]:
n = input()

count = 0
char_set = set()
for i in n:
    if i not in char_set:
        char_set.add(i)
        count += 1
        
print(count)

 bbbbb

1

In [31]:
n = input().strip()

left = 0
max_length = 0
char_set = set()

for i in range(len(n)):
    while n[i] in char_set:
        char_set.remove(n[left])
        left += 1

    char_set.add(n[i])
    max_length = max(max_length, i-left+1)

print(max_length)

 pkwpkwb

4

In [5]:
i=1
while i <= 3:
    n = int(input())
    if n== 87:
        print('You win the lottery.')
        break
    else:
        print('Bad Luck!')
        i += 1
        
print('Thanks for your time.')

 23

Bad Luck!

 23

Bad Luck!

 87

You win the lottery.
Thanks for your time.

In [6]:
n = int(input())

for i in range(1,n+1):
    if i % 5 == 0 or i%10 == 3:
        continue
    print(i)

 10

1
2
4
6
7
8
9

In [1]:
mylist = []
while True:
    n = input("Enter a password (or END to stop)")
    if n == 'END':
        break

    elif 'admin' in n:
        print("Invalid password: contains 'admin'")
        continue
        
    elif ' ' in n:
        print("Invalid password: contains spaces")
        continue
    elif len(n) < 8:
        continue
        
    else:
        mylist.append(n)

print('Valid passwords:',mylist)

Enter a password (or END to stop) admin123

Invalid password: contains 'admin'

Enter a password (or END to stop) mypassword
Enter a password (or END to stop) secure1234
Enter a password (or END to stop) pa ssword

Invalid password: contains spaces

Enter a password (or END to stop) END

Valid passwords: ['mypassword', 'secure1234']

In [7]:
n = int(input())
books = []

for i in range(n):
    books.append(input())

search = input()

flag = 0
for i in range(n):
    if books[i] == search:
        print(i+1)
        flag = 1
        break
    
if flag == 0:
    print(-1)

 4
 as
 ga
 tr
 daw
 htr

-1

In [8]:
numbers = [10, 20, 30]
even_set = {2, 4, 6, 8, 10}
multiple_3_set = {3, 6, 9}
multiple_5_set = {5, 10, 15}

for num in numbers:
    if num in even_set:
        print(f"{num} is even", end=". ")
    if num in multiple_3_set:
        print(f"{num} is divisible by 3", end=". ")
    if num in multiple_5_set:
        print(f"{num} is divisible by 5", end=". ")
    if num not in even_set and num not in multiple_3_set and num not in multiple_5_set:
        print(f"{num} doesn't match any condition", end=". ")

10 is even. 10 is divisible by 5. 20 doesn't match any condition. 30 doesn't match any condition.

In [11]:
text = "Hello student learner"  
' '.join(text.split())

'Hello student learner'

In [10]:
text = "Hello student learner"  
for char in ' '.join(text.split()):  
    print(char, end=", ")

H, e, l, l, o,  , s, t, u, d, e, n, t,  , l, e, a, r, n, e, r,

In [2]:
rows = 3
sections = 2
seats = 2

seating_arrangements = [f"Row {row}, Section {section}, Seat {seat}" 
                        for row in range(1, rows + 1) 
                        for section in range(1, sections + 1) 
                        for seat in range(1, seats + 1)]

print(seating_arrangements)

['Row 1, Section 1, Seat 1', 'Row 1, Section 1, Seat 2', 'Row 1, Section 2, Seat 1', 'Row 1, Section 2, Seat 2', 'Row 2, Section 1, Seat 1', 'Row 2, Section 1, Seat 2', 'Row 2, Section 2, Seat 1', 'Row 2, Section 2, Seat 2', 'Row 3, Section 1, Seat 1', 'Row 3, Section 1, Seat 2', 'Row 3, Section 2, Seat 1', 'Row 3, Section 2, Seat 2']

In [4]:
ch = ['a', 'b', 'c', 'd']
for ch[-1] in ch:
    print(ch[-1], end = " ")

a b c c

In [5]:
n = int(input())

new_list = []


for i in range(1,n+1):
    if i % 3 == 0 and i % 5 == 0:
        new_list.append("FizzBuzz")
    elif i%3 == 0:
        new_list.append("Fizz")
    elif i%5 == 0:
        new_list.append("Buzz")
    else:
        new_list.append(str(i))

print(new_list)

 5

['1', '2', 'Fizz', '4', 'Buzz']

In [12]:
n = int(input())

s = str(n)

new_set = set()

for i in range(len(s)):
    if s[i] not in new_set:
        new_set.add(int(s[i]))

print(list(new_set))

 3232

<built-in method sort of list object at 0x0000023822799B00>

In [18]:
confusion_matrix = [
    [50, 10],  # Row 1: TP, FN
    [5, 35]    # Row 2: FP, TN
]

# Write your code here
TP =  confusion_matrix[0][0]
FN =  confusion_matrix[0][1]
FP =  confusion_matrix[1][0]

precision = TP / (TP + FP)

recall = TP / (TP + FN)

F1_score = 2*((precision * recall)/(precision + recall))

print('Precision:',round(precision,2))
print('Recall:',round(recall,2))
print('F1_score:',round(F1_score,2))

Precision: 0.91
Recall: 0.83
F1_score: 0.87

In [24]:
m,n = map(int,input().split())

result = []
for i in range(m):
        rows = []
        for j in range(n):
            rows.append(0)
        result.append(rows)

print(result)

 2 3

[[0, 0, 0], [0, 0, 0]]

In [27]:
m,n = map(int,input().split())

a = []
for i in range(m):
    a.append(list(map(int,input().split())))


p,q = map(int,input().split())

b = []
for i in range(p):
    b.append(list(map(int,input().split())))

if (n!=p):
    print("Matrix multiplication not possible")
else:
    result = []
    for i in range(m):
        rows = []
        for j in range(q):
            rows.append(0)
        result.append(rows)

    for i in range(m):
        for j in range(q):
            for k in range(n):
                result[i][j] += a[i][k] * b[k][j]

    print(result)

 2 2
 1 2
 3 4
 2 2
 5 6
 7 8

[[19, 22], [43, 50]]

In [7]:
m = int(input())
n = int(input())

a = []
for i in range(m):
    a.append(list(map(int,input().split())))

p = int(input())
q = int(input())

b = []
for i in range(p):
    b.append(list(map(int,input().split())))

if p != n:
    print('not do')
else:
    result = []
    for i in range(m):
        row = []
        for j in range(q):
            row.append(0)
        result.append(row)

    for i in range(m):
        for j in range(q):
             for k in range(n):
                 result[i][j] += a[i][k] * b[k][j]

    for i in range(m):
        for j in range(q):
             print(result[i][j], end = ' ')
        print()

 2
 2
 1 2
 3 4
 2
 2
 5 6
 7 8

19 22
43 50

In [19]:
data = {
    "Math": [78, 82, 91, 65, 89],
    "Physics": [85, 79, 92, 88, 76],
    "Chemistry": [89, 94, 78, 88, 84],
    "Biology": [81, 85, 80, 77, 90]
}

for key, value in data.items():
    value.sort()
    mean = sum(value) / len(value)
    
    print(f'Statistics for {key}:')
    print('Min:', min(value))
    print('Max:', max(value))
    print('Mean:', f"{mean:.2f}")
    print('25th Percentile:', value[int(0.25 * len(value))])
    print('50th Percentile:', value[int(0.50 * len(value))])
    print('75th Percentile:', value[int(0.75 * len(value))])
    print()

Statistics for Math:
Min: 65
Max: 91
Mean: 81.00
25th Percentile: 78
50th Percentile: 82
75th Percentile: 89

Statistics for Physics:
Min: 76
Max: 92
Mean: 84.00
25th Percentile: 79
50th Percentile: 85
75th Percentile: 88

Statistics for Chemistry:
Min: 78
Max: 94
Mean: 86.60
25th Percentile: 84
50th Percentile: 88
75th Percentile: 89

Statistics for Biology:
Min: 77
Max: 90
Mean: 82.60
25th Percentile: 80
50th Percentile: 81
75th Percentile: 85

In [28]:
data = {
    "ProductID": [101, 102, 103, None, 105],
    "Price": [9.99, 19.99, None, 29.99, 49.99],
    "Quantity": [1, 2, 3, None, None],
    "Category": ["A", "B", None, "C", "D"]
}


for key,value in data.items():
    data_tp = type(value[0])
    count_none = value.count(None)

    print(f'{key}: Data type = {data_tp}, None count = {count_none}')

ProductID: Data type = <class 'int'>, None count = 1
Price: Data type = <class 'float'>, None count = 1
Quantity: Data type = <class 'int'>, None count = 2
Category: Data type = <class 'str'>, None count = 1

In [2]:
n = int(input())
length = int(input())

mylist = []

while len(mylist) < length:
    
    flag = 0
    for i in range(2,n):
        if n%i == 0:
            flag = 1
            break

    if flag == 0:
        mylist.append(n)

    n += 1

print(tuple(mylist))

 11
 5

(11, 13, 17, 19, 23)

In [17]:
n = int(input())

flag = 0
for i in range(2,n):
    if n%i == 0:
        flag = 1
        break

if flag == 0 and n>1:
    print('prime')
else:
    print('not prime')

 6

not prime

In [22]:
cars = [
    {"CarID": 1, "Fuel": "Petrol", "Engine": "Engine1"},
    {"CarID": 2, "Fuel": "Diesel", "Engine": "Engine2"},
    {"CarID": 3, "Fuel": "Petrol", "Engine": "Engine2"},
    {"CarID": 4, "Fuel": "Diesel", "Engine": "Engine1"},
    {"CarID": 5, "Fuel": "Electric", "Engine": "Engine3"},
    {"CarID": 6, "Fuel": "Hybrid", "Engine": "Engine3"},
]

# Write your code here
cols = set()
for car in cars:
    col = car["Fuel"][0] + car["Engine"][-1]
    cols.add(col)

cols = sorted(cols)

print('ID',*cols)

for car in cars:
    row = []
    current =  car["Fuel"][0] + car["Engine"][-1]

    for c in cols:
        if current == c:
            row.append(1)
        else:
            row.append(0)

    print(car["CarID"],*row)

ID D1 D2 E3 H3 P1 P2
1 0 0 0 0 1 0
2 0 1 0 0 0 0
3 0 0 0 0 0 1
4 1 0 0 0 0 0
5 0 0 1 0 0 0
6 0 0 0 1 0 0

In [1]:
def square(a):
    def inner_square(b):
        return b * b
    result = inner_square(a)
    return result

x = 2
y = 3
x = square(x + y)
y = square(y)
z = x + y

print(z)

34

In [3]:
def ninjas(name):
    return f"Hello, {name}!"
    print("Are you enjoying?")

name = "Kashish"
text = ninjas(name)
print(text)

Hello, Kashish!

In [5]:
x = 10  

def outer(a):
    x = 5  
    
    def inner(b):
        global x  
        x = x + b
        return x
    
    def inner2(c):
        x = 20  
        return x + c
    
    x = inner(a)
    y = inner2(a)
    return x + y

result = outer(3)
print(result, x)

36 13

In [19]:
def count_vowels(s):
    count = 0
    for i in range(len(s)):
        if s[i] in 'aeiou':
            count += 1
    return count


s = input().lower()
print(count_vowels(s))

 elephant

3

In [8]:
n = input()
len(n)

 hello

5

In [20]:
def count_vowels(s):
    count = 0

    for ch in s:
        if ch in 'aeiou':
            count += 1
    return count


s = input().lower()
print(count_vowels(s))

 hello world

3

In [29]:
def calculator(operation, *args):
    pass
    # 1. Add : 10 + 2 + 3 + 14 = 29
    # 2. Subtract : 10 - 2 - 3 - 5 = 0
    # 3. Multiply : 3 * 2 * 2 = 12
    def add():
        return sum(args)

    def multiply():
        result = 1
        for i in args:
            result *= i
        return result

    def subtract():
        result = args[0]
        for i in args[1:]:
            result -= i
        return result
        

    if operation == 'add':
        return add()
    elif operation == 'multiply':
        return multiply()
    elif operation == 'subtract':
        return subtract()
    else:
        return 'Invalid operation'

print(calculator('subtract',10,20,30))

-40

In [32]:
data = [6, 2, 7, 5, 3, 8, 4, 9, 1]

data.sort()
print(data)
median = 
print(median)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
5

In [45]:
def is_armstrong(n):

    rev = 0
    b = n
    while n > 0:
        rem = n%10
        rev = rev + rem * rem * rem
        n = n//10

    return b == rev

n = int(input())
print(f'Is {n} an Armstrong number? {is_armstrong(n)}')

 123

Is 123 an Armstrong number? False

In [49]:
def is_armstrong(n):
    total = 0
    digit = len(str(n))
    b = n
    while n > 0:
        rem = n%10
        total = total + rem ** digit
        n = n//10

    return b == total
    
n = int(input())
print(f'Is {n} an Armstrong number? {is_armstrong(n)}')

 -1

Is -1 an Armstrong number? False

In [2]:
marks = "56 78 94 85 62"
marks = marks.split()
print(marks)

['56', '78', '94', '85', '62']

In [8]:
for i in range(2):
    for j in range(2):
        print(i,j)
    print()

0 0
0 1

1 0
1 1

In [13]:
n = int(input())

total = 0
digit = len(str(n))
b = n

while n > 0:
    rem = n % 10
    total = total + rem ** digit
    n = n // 10

print(total == b)

 153

True

In [ ]:
# Given data
test_cases = [19, 2, 7, 23, 4, 16, 13]
# Don't make any changes to the test case above.


# Write your code here
def is_happy(n):
    total = 0
    while n >0:
        rem = n % 10
        total = total + rem ** 2
        n = n//10

In [1]:
n = int(input())
seen = set()
while n != 1:
    if n in seen:
        return False
        break

    seen.add(n)
    
    total = 0
    while n > 0:
        rem = n % 10
        total = total + rem ** 2
        n = n//10

    n = total
print(total)

 19

1

i=1
while i < 10:
    print(i)
    i += 1

In [2]:
m,n = map(int,input().split())

a = []
for i in range(m):
    a.append(list(map(int,input().split())))

for i in range(m):
    for j in range(n):
        print(a[i][j], end = ' ')
    print()

 2 2
 1 2
 3 4

1 2
3 4

In [2]:
test_cases = [19, 2, 7, 23, 4, 16, 13]
# Don't make any changes to the test case above.


# Write your code here
def is_happy(n):
    seen = set()

    while n != 1 and n not in seen:
        seen.add(n)
       
        total = 0
        while n > 0:
            rem = n % 10
            total = total + rem ** 2
            n = n // 10

        n = total

    return n == 1

for i in test_cases:
    print(f'Is {i} a happy number? {is_happy(i)}')

Is 19 a happy number? True
Is 2 a happy number? False
Is 7 a happy number? True
Is 23 a happy number? True
Is 4 a happy number? False
Is 16 a happy number? False
Is 13 a happy number? True

In [25]:
data = [15, 20, 35, 40, 50, 45, 60, 55]

def  median(data):
    n = len(data)
    mid = n//2

    if n %2 == 1:
        median = data[mid]
    else:
        median = (data[mid] + data[mid - 1]) / 2

    return median


def calculate_iqr(data):
    data.sort()

    n = len(data)
    mid = n // 2

    if n % 2 == 1:
        lower = data[: mid]
        upper = data[mid+1 : ]
    else:
        lower = data[:mid]
        upper = data[mid:]


    q1 = median(lower)
    q3 = median(upper)

    iqr = q3 - q1

    return iqr

print(calculate_iqr(data))

25.0

In [23]:
data = [15, 20, 35, 40, 50, 45, 60, 55]

data.sort()
print(data)

n = len(data)
mid = n // 2

if n % 2 == 1:
        lower = data[0 : mid]
        upper = data[mid+1 : ]
else:
        lower = data[:mid]
        upper = data[mid:]

print(lower)
print(upper)

[15, 20, 35, 40, 45, 50, 55, 60]
[15, 20, 35, 40]
[45, 50, 55, 60]

In [43]:
cart_items1 = {"apple": (3, 5), "milk": (2, 2), "bread": (1.5, 3)}
discounts1 = {"apple": 10, "milk": 5}
delivery_charge1 = 3

bill = 0
for key,value in cart_items1.items():
    total = value[0] * value[1]
    discount = total * (discounts1.get(key,0) / 100 )
    total = total - discount

    bill += total
print(bill + delivery_charge1)

24.8

In [66]:
cart_items1 = {"apple": (3, 5), "milk": (2, 2), "bread": (1.5, 3)}
discounts1 = {"apple": 10, "milk": 5}
delivery_charge1 = 3

calculate_bill(cart_items1, discounts1, delivery_charge1)


def calculate_bill(cart_items, discounts, delivery_charge=0):
    print("---- Bill Details ----")

    bill = 0
    for key,(price,quantity) in cart_items.items():
        total = price * quantity
        discount = discounts.get(key,0)
        amount = total * discount / 100
        final = total - amount

        bill = bill + final

        print(f'{key.capitalize()} - {quantity} x ${price} - {discount}% discount = ${final}')

    print(f'Delivery Charge: ${delivery_charge}')

    bill = bill + delivery_charge
    print(f'Total Bill: ${bill}')

return bill

---- Bill Details ----
apple - 5 x $3 - 10% discount = $13.5
milk - 2 x $2 - 5% discount = $3.8
bread - 3 x $1.5 - 0% discount = $4.5
Delivery Charge: $3
Total Bill: $24.8

SyntaxError: 'return' outside function (3512792774.py, line 27)

In [1]:
full_name = (lambda first, last: f"{first.capitalize()} {last.capitalize()}")('Manoj', 'Kumar')
print(full_name)

Manoj Kumar

In [2]:
data = [
    ('Aarav', 25, 'Delhi'),
    ('Vivaan', 30, 'Mumbai'),
    ('Reyansh', 20, 'Bangalore'),
    ('Aditya', 35, 'Chennai'),
    ('Kabir', 28, 'Delhi'),
    ('Vihaan', 22, 'Mumbai')
]

def filter_and_sort(data, min_age=None, city=None):
    filtered_data = [
        person for person in data 
        if (min_age is None or person[1] >= min_age) and (city is None or person[2] == city)
    ]
    
    sorted_data = sorted(filtered_data, key=lambda x: (x[2], x[1]))
    
    return sorted_data

result = filter_and_sort(data, min_age=25)

print(result)

[('Aditya', 35, 'Chennai'), ('Aarav', 25, 'Delhi'), ('Kabir', 28, 'Delhi'), ('Vivaan', 30, 'Mumbai')]

In [3]:
def recursive_function(n):
    if n <= 1:
        return n
    else:
        return recursive_function(n - 1) + recursive_function(n - 2)

result = recursive_function(6)
print(result)

8

In [4]:
def fib(n):
    if n <= 1:
        return n
    return fib(n-1) + fib(n-2)

for i in range(7):  
    print(fib(i), end=" ")

0 1 1 2 3 5 8

In [5]:
try:
    x = int("abc")
except NameError:
    print("Name Error Caught")
finally:
    print("This is the finally block")

This is the finally block

ValueError: invalid literal for int() with base 10: 'abc'