1. Create a list named student_scores with 5 integer values. Write a command to append a
new score to the end of the list.

In [2]:
l1 = [80,70,80,75,96]
l1.append(62)
l1

[80, 70, 80, 75, 96, 62]

2. Given the tuple colors = ('red', 'green', 'blue'), attempt to change the second element to
'yellow' and describe what happens.

In [3]:
tup = ('red', 'green', 'blue')
tup_list = list(tup)
tup_list[1] = 'yellow'
print(tuple(tup_list))

('red', 'yellow', 'blue')

3. Create a dictionary representing a book with keys for title, author, and year. Print only the
value associated with the author key.

In [4]:
book = {
    "title": "Atomic Habits",
    "author": "James Clear",
    "year": 2018
}

print(book["author"])

James Clear

4. Write a for loop that prints every integer from 1 to 20.

In [7]:
for i in range(1,21):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

5. Given a list of numbers, write a while loop that removes the last element of the list one by
one until the list is empty

In [10]:
num = [10,20,30,40,50]
while num:
    num.pop()

print(num)

[]

6. Write an if-elif-else block that checks a variable temperature. Print "Cold" if under 10,
"Warm" if between 10 and 25, and "Hot" if above 25.

In [11]:
n = int(input())

if n < 10:
    print('Cold')
elif n >= 10 and n<=25:
    print('Warm')
else:
    print('Hot')

 12

Warm

7. Use list comprehension to create a list of the first 10 square numbers (1, 4, 9, ...)

In [13]:
squared = [i**2 for i in range(1,11)]
squared

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

8. Given the dictionary prices = {'apple': 0.50, 'banana': 0.30}, write a code to add a new item
orange with a price of 0.80

In [17]:
d = {'apple': 0.50, 'banana': 0.30}
d.setdefault('orange' ,'0.80')
d['strawberry'] = 1.0
d

{'apple': 0.5, 'banana': 0.3, 'orange': '0.80', 'strawberry': 1.0}

9. Write a Python program to find the length of a tuple without using the len() function (hint:
use a loop).

In [20]:
tup = (1,2,3,4,5,6)

count = 0
for _ in tup:
    count +=1

print(count)

6

10. Create two lists: keys = ['name', 'age'] and values = ['Alice', 25]. Create a dictionary mapping
the keys to the values manually.

In [25]:
keys = ['name', 'age']
values = ['Alice', 25]

person = {
    keys[0] : values[0],
    keys[1] : values[1]
}

person

{'name': 'Alice', 'age': 25}

11. Write a for loop that iterates through the string "PYTHON" and prints each character on a
new line.

In [27]:
for ch in 'PYTHON':
    print(ch)

P
Y
T
H
O
N

12. Use slicing to print the reversed version of the list [10, 20, 30, 40, 50].

In [28]:
l1 =  [10, 20, 30, 40, 50]
l1[::-1]

[50, 40, 30, 20, 10]

13. Write a condition to check if the key "grade" exists in a student dictionary. If not, print "Not
Found"

In [29]:
student = {"name": "Rahul", "age": 20}

if "grade" in student:
    print(student["grade"])
else:
    print("Not Found")

Not Found

14. Use list comprehension to create a list of all numbers divisible by 5 between 1 and 50

In [36]:
div = [i for i in range(1,51) if i%5 ==0]
div

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

15. Given a tuple coordinates = (10, 20, 30), unpack the values into three variables x, y, and z.

In [40]:
coordinates = (10, 20, 30)
x,y,z = coordinates
print(x,y,z)

10 20 30

16. Write a while loop that asks the user for input and stops only when the user types "exit".

In [41]:
while True:
    x = input()
    if x.lower() == 'exit':
        break

 era
 yra
 ui
 po'
 exit

17. Given a list numbers = [1, 2, 3, 2, 4, 2], write a command to count how many times the
number 2 appears.

In [42]:
l1 = [1, 2, 3, 2, 4, 2]
l1.count(2)

3

18. Create a nested list representing a 2x2 matrix and write a loop to print the element in the
second row, first column.

In [43]:
l1 = [[1,2],[3,4]]
print(l1[1][0])

3

19. Write a program using continue to print numbers from 1 to 10, skipping the number 5.

In [49]:
for i in range(1,11):
    if i == 5:
        continue
    print(i,end = ' ')

1 2 3 4 6 7 8 9 10

20. Delete the key 'city' from a dictionary person = {'name': 'John', 'city': 'London'} using the pop
method

In [51]:
person = {'name': 'John', 'city': 'London'}
person.pop('city')
person

{'name': 'John'}

21. Given a list of integers, create a new list containing only the even numbers using a standard
for loop and if statement

In [3]:
list1 = [1,2,3,4,5,6,7]
new = []

for i in list1:
    if i%2 == 0:
        new.append(i)

print(new)

[2, 4, 6]

22. Rewrite the previous task (Question 21) using List Comprehension

In [6]:

list1 = [1,2,3,4,5,6,7]
even = [i for i in list1 if i%2 == 0]
print(even)

[2, 4, 6]

24. Given a dictionary of items and their prices, calculate the total cost of all items using a for
loop.

In [9]:
_dict = {
    "Pen": 10,
    "Notebook": 50,
    "Pencil": 5,
    "Eraser": 3
}
total = 0
for key,value in _dict.items():
    total = total + value

print(total)

68

25. Given a list of numbers, write a program to find the maximum number using a loop (do not
use the max() function).

In [10]:
list1 = [10,30,83,20,90,71,20]

max_val = float('-inf')
for i in list1:
    if i > max_val:
        max_val = i

print(max_val)

90

26. Create a list of 20 random integers. Use a for loop to separate them into two new lists: evens
and odds.

In [11]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

even = []
odd = []

for i in list1:
    if i%2== 0:
        even.append(i)
    else:
        odd.append(i)

print('even:',even)
print('odd:',odd)

even: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
odd: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

27. You have a list of dictionaries, where each dictionary represents a product with name and
price. Print the names of all products that cost more than $50.

In [22]:
products = [
    {"name": "Mouse", "price": 25},
    {"name": "Keyboard", "price": 75},
    {"name": "Monitor", "price": 150},
    {"name": "USB Cable", "price": 40}
]

for product in products:
    if product['price'] > 50:
        print(product['name'])

Keyboard
Monitor

29. Given two lists of equal length, list1 and list2, use a loop to create a new list where each
element is the sum of the corresponding elements from the two original lists

In [28]:
list1 = [1,8,9,4]
list2 = [5,6,7,8]

new = []

for i in range(len(list1)):
    new.append(list1[i] + list2[i])

print(new)

[6, 14, 16, 12]

30. Write a program to count the frequency of each character in a given string and store the
results in a dictionary (e.g., {'a': 2, 'b': 1}).

In [29]:
n = input()

_dict = {}

for ch in n:
    if ch in _dict:
       _dict[ch] += 1
    else:
        _dict[ch] = 1

print(_dict)

 apple

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

31. Use a while loop to verify a user's password. Keep asking for the password until they enter
"secret123". limit the attempts to 3; print "Locked out" if they fail 3 times.

In [10]:
i= 1
while i <= 3:
    n = input('enter password')

    if n == 'secret123':
        print('Access Granted')
        break
    else:
        if i < 3:
             print('try again')
        i += 1
   
        
if i > 3:
    print('Locked out')

enter password saca

try again

enter password Scf

try again

enter password secret123

Access Granted

32. Given a list of duplicate numbers [1, 2, 2, 3, 4, 4, 5], write a program to remove duplicates
and create a unique list (without using set()).

In [11]:
list1 = [1, 2, 2, 3, 4, 4, 5]

new = []
for i in list1:
    if i not in new:
        new.append(i)

new

[1, 2, 3, 4, 5]

33. Create a dictionary mapping numbers 1 through 5 to their squares using Dictionary
Comprehension (e.g., {1: 1, 2: 4...}).

In [14]:
square = {x:x**2 for x in range(1,6)}

print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

34. Given a list of words, create a new list containing only words that start with a vowel.

In [20]:
words = ["apple", "banana", "orange", "grape", "umbrella", "kiwi"]

new = []

for i in words:
    if i[0].lower() in 'aeiou':
        new.append(i)

new

['apple', 'orange', 'umbrella']

35. Write a program that takes a list of integers and returns a tuple containing the sum and the
average of those numbers.

In [25]:
numbers = [10, 20, 30, 40, 50]

total = 0
for i in numbers:
    total += i

avg = total/len(numbers)

tup = (total,avg)
tup

(150, 30.0)

36. Flatten a nested list [[1, 2], [3, 4], [5, 6]] into a single list [1, 2, 3, 4, 5, 6] using loops

In [26]:
list1 = [[1, 2], [3, 4], [5, 6]]
new = []

for i in list1:
    for j in i:
        new.append(j)

new

[1, 2, 3, 4, 5, 6]

37. Write a list comprehension that generates a list of tuples (x, y) where x is from 1-3 and y is
from 1-3, but only if x is not equal to y.

In [30]:
tuple_list = [(x,y) for x in range(1,4) for y in range(1,4) if x != y]
tuple_list

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

38. Given a dictionary of student grades {'John': 85, 'Emma': 92, 'Sam': 78}, write a loop to find
who has the highest grade.

In [35]:
grades = {'John': 85, 'Emma': 92, 'Sam': 78}

max_value = float('-inf')
name = ''

for key,value in grades.items():
    if value > max_value:
        max_value = value
        name = key

print(name)

Emma

39. Write a program that reverses the keys and values of a dictionary (e.g., {1: 'a', 2: 'b'}
becomes {'a': 1, 'b': 2}). Assume values are unique.

In [36]:
original_dict = {1: 'a', 2: 'b', 3: 'c'}
reverse = {}

for key,value in original_dict.items():
    reverse[value] = key

reverse

{'a': 1, 'b': 2, 'c': 3}

40. Calculate the factorial of a number n provided by the user using a while loop

In [2]:
n = int(input())

fact = 1
i = 1

while i <= n:
    fact *= i
    i += 1

print(fact)

 4

24

41. Given a list of sentences, use a loop to print the word count of each sentence.

In [10]:
sentences = [
    "Python is easy to learn",
    "I love programming",
    "Data science is fun"
]

for i in sentences:
    word = len(i.split())
    print(f"'{i}' has {word} words")

'Python is easy to learn' has 5 words
'I love programming' has 3 words
'Data science is fun' has 4 words

42. Create a "To-Do" list program using a while loop that allows the user to 'add', 'remove', or
'view' tasks in a list until they choose to 'quit'.

43. Given a list of dictionaries representing employees [{'name': 'A', 'dept': 'HR'}, {'name': 'B',
'dept': 'IT'}, ...], write a program to group employees by department into a new dictionary

In [15]:
employees = [
    {'name': 'A', 'dept': 'HR'},
    {'name': 'B', 'dept': 'IT'},
    {'name': 'C', 'dept': 'HR'},
    {'name': 'D', 'dept': 'IT'},
    {'name': 'E', 'dept': 'Finance'}
]

group = {}

for i in employees:
    dept = i['dept']
    name = i['name']

    if dept not in group:
        group[dept] = []
    group[dept].append(name)

print(group)

{'HR': ['A', 'C'], 'IT': ['B', 'D'], 'Finance': ['E']}

44. Find the common elements between two lists list_a and list_b using loops and conditionals.

In [28]:
list_a = [1, 2, 3, 4, 5]
list_b = [3, 4, 5, 3, 6, 7]

common = []

for i in list_a:
    if i in list_b:
        common.append(i)

common

[3, 4, 5]

46. Generate the first n numbers of the Fibonacci sequence using a for loop and store them in a
list.

In [34]:
n = int(input())

a=0
b=1
feb = []

for i in range(n):
    feb.append(a)
    temp = a+b
    a = b
    b = temp

print(feb)

 5

[0, 1, 1, 2, 3]

47. Given a string, create a list of all the words in the string that have more than 4 letters,
utilizing split() and list comprehension.

In [40]:
text = "Python programming is really fun and exciting"

new = [i for i in text.split() if len(i) > 4]
print(new)

['Python', 'programming', 'really', 'exciting']

48. Write a generic search program: Given a list of numbers and a target number, use a loop to
find the index of the target. If it's not there, print -1.

In [56]:
numbers = [10, 20, 30, 40, 50]
target = int(input())

index = -1 

for i in range(len(numbers)):
    if numbers[i] == target:
        index = i
        break

print(index)

 40

3

49. Create a multiplication table (from 1 to 10) for a specific number using a for loop and format
the output as "5 x 1 = 5".

In [36]:
n = int(input())

for i in range(1,11):
    print(f'{n} x {i} = {n*i}')

 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50