Write a function called greet_user that simply prints the string "Hello, welcome to Python
coding!" when called.

In [1]:
def greet():
    return 'Hello, welcome to Python coding!'

print(greet())

Hello, welcome to Python coding!

2. Write a function called square_number that accepts one integer argument num and returns
its square.

In [4]:
def square(n):
    print(n**2)

n = int(input())
square(n)

 4

16

3. Write a function called add_two that accepts two numbers, a and b, and prints their sum
inside the function.

In [5]:
def add_two(a,b):
    return a+b

print(add_two(2,2))

4

4. Write a function called get_pi that accepts no arguments and returns the float value
3.14159.

In [8]:
def get_pi():
    return 3.14159

print(get_pi())

3.14159

5. Write a function called combine_names that takes two string arguments, first_name and
last_name, and returns the full name as a single string.

In [11]:
def combine_names(a,b):
    return a +' ' + b

print(combine_names('mohit', 'agrawal'))

mohit agrawal

6. Write a function check_number that takes a single integer. Use if, elif, and else to return
"Positive" if the number is greater than 0, "Negative" if less than 0, and "Zero" if it equals 0

In [14]:
def check_number(n):
    if n > 0:
        return 'Positive'
    elif n < 0:
        return 'Negative'
    else:
        return 'Zero'

n = int(input())
print(check_number(n))

 -2

Negative

7. Write a function is_vowel that takes a single character string. Return True if it is a vowel (a,
e, i, o, u) and False otherwise.

In [19]:
def is_vowel(n):
    if n in 'aeiou':
        return True
    else:
        return False

n = input()
print(is_vowel(n))

 c

False

8. Write a function compare_numbers that takes two numbers x and y. It should print which
one is larger or if they are equal using if-elif-else.

In [20]:
def compare_numbers(x, y):
    if x > y:
        print("x is larger than y")
    elif y > x:
        print("y is larger than x")
    else:
        print("Both numbers are equal")

compare_numbers(10, 5)
compare_numbers(3, 7)
compare_numbers(4, 4)

x is larger than y
y is larger than x
Both numbers are equal

9. Write a function validate_age that takes an integer age. If age is less than 0, return "Invalid".
If it is under 18, return "Minor". Otherwise, return "Adult"

In [21]:
def validate_age(age):
    if age < 0:
        return "Invalid"
    elif age < 18:
        return "Minor"
    else:
        return "Adult"


print(validate_age(-1))   # Invalid
print(validate_age(10))   # Minor
print(validate_age(25))   # Adult

Invalid
Minor
Adult

10. Write a function check_access that accepts a string role. Return "Full Access" if the role is
"admin", "Limited Access" if the role is "guest", and "No Access" for any other string.

In [22]:
def check_access(role):
    if role == "admin":
        return "Full Access"
    elif role == "guest":
        return "Limited Access"
    else:
        return "No Access"

print(check_access("admin"))   
print(check_access("guest"))   
print(check_access("user"))

Full Access
Limited Access
No Access

11. Write a function sum_list that takes a list of numbers as a parameter and returns the total
sum of all elements.

In [30]:
def sum_list(n):
    total = 0
    for i in n:
        total += i
    return total

a = list(map(int,input().split()))
print(sum_list(a))

 1 2 3 3 4  4   5

22

12. Write a function find_max that accepts a list of integers and returns the largest number in
that list (do not use the built-in max() function; implement your own logic).

In [33]:
def max(n):
    max_num = float('-inf')
    for i in n:
        if i > max_num:
            max_num = i
    return max_num

a = [10,20,14,50,99,23,56]
print(max(a))

99

13. Write a function filter_even that takes a list of integers and returns a new list containing
only the even numbers.

In [34]:
def filter_even(n):
    new = []
    for i in n:
        if i % 2== 0:
            new.append(i)
    return new

a = [10,20,14,50,99,23,56]
print(filter_even(a))

[10, 20, 14, 50, 56]

14. Write a function tuple_to_list that takes a tuple of strings and returns a list containing those
same strings

In [35]:
def tuple_to_list(tup):
    return list(tup)

print(tuple_to_list(("apple", "banana", "cherry")))

['apple', 'banana', 'cherry']

5. Write a function get_first_last that accepts a list and returns a tuple containing just the first
and the last element of that list.

In [39]:
def get_first_last(lst):
    if not lst:
        return None
    else:
        return (lst[0], lst[-1])
  

print(get_first_last([1, 2, 3, 4, 5]))  
print(get_first_last(['a', 'b', 'c']))   
print(get_first_last([]))

(1, 5)
('a', 'c')
None

16. Write a function create_profile that accepts name, age, and city as arguments and returns a
dictionary with keys 'name', 'age', and 'city' mapped to those values.

In [40]:
def create_profile(name, age, city):
    return {'name' : name , 'age' : age , 'city' : city}

print(create_profile("Mohit", 24, "Jaipur"))

{'name': 'Mohit', 'age': 24, 'city': 'Jaipur'}

17. Write a function get_score that accepts a dictionary of student names and scores, and a
specific student's name. Return that student's score. If the student is not found, return -1.

In [43]:
def get_score(scores_dict, name):
    return scores_dict.get(name,-1)

scores = {'Mohit': 90, 'Riya': 85, 'Amit': 78}
print(get_score(scores, 'Riya'))  
print(get_score(scores, 'Neha'))

85
-1

18. Write a function count_characters that takes a string and returns a dictionary where keys
are characters and values are the number of times they appear in the string.

In [44]:
def count_characters(n):
    _dict = {}
    for i in n:
        if i in _dict:
            _dict[i] += 1
        else:
            _dict[i] = 1
    return _dict

print(count_characters("hello world"))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

19. Write a function update_inventory that takes an inventory dictionary {'item': quantity}, an
item_name, and an amount_to_add. Update the dictionary and return the new quantity for
that item

In [47]:
def update_inventory(inventory, item_name, amount):
    if item_name in inventory:
        inventory[item_name] += amount
    else:
        inventory[item_name] = amount
    return inventory

inventory = {'apple':10 , 'bnana' : 5}
print(update_inventory(inventory, 'apple', 3))  
print(update_inventory(inventory, 'orange', 7))
print(inventory)

{'apple': 13, 'bnana': 5}
{'apple': 13, 'bnana': 5, 'orange': 7}
{'apple': 13, 'bnana': 5, 'orange': 7}

20. Write a function print_keys that accepts a dictionary and prints every key inside it on a new
line.

In [48]:
def print_keys(d):
    for key in d:
        print(key)

my_dict = {'name': 'Mohit', 'age': 24, 'city': 'Jaipur'}
print_keys(my_dict)

name
age
city

21. Write a function find_target that takes a list of numbers and a target number. Use a for loop
to check each number. If the target is found, print "Found it!" and immediately use break to
stop the loop.

In [53]:
def find_target(n,target):
    for i in n:
        if i == target:
            return 'Found it'
    return 'not found'

n = [1,2,3,4,5]
print(find_target(n,1))
print(find_target(n,7))

Found it
not found

In [ ]:
22. Write a function countdown that takes a starting number n. Use a while loop to print
numbers from n down to 1.

In [57]:
def countdown(n):
    while n > 0:
        print(n)
        n -= 1

countdown(5)

5
4
3
2
1

23. Write a function sum_until_negative that takes a list of numbers. Use a loop to sum the
numbers, but if you encounter a negative number, use break to stop the loop immediately
and return the sum calculated so far

In [59]:
def sum_until_negative(n):
    total = 0
    for i in n:
        if i < 0:
            break
        total += i
    return total

print(sum_until_negative([1, 2, 3, -1, 4]))

6

24. Write a function process_inputs that takes a list of strings. Use a for loop to print each string.
However, if the string "STOP" is encountered, use break to terminate the function execution
entirely

In [61]:
def process_inputs(n):
    for i in n:
        if i == 'STOP':
            break
        print(i)

process_inputs(["Hello", "World", "STOP", "Python", "Code"])

Hello
World

In [ ]:
25. Write a function multiply_list that accepts a list of integers. Use a for loop to multiply all
items together and return the final product.

In [63]:
def multiply_list(n):
    result = 1
    for i in n:
        result *= i
    return result

print(multiply_list([1,2,3,4,5]))

120